$shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);

.container {
	width: 100%;
  margin: 0;
  box-shadow: $shadow;
  text-align: left;
}
.list {

  margin: 0;
  padding: 20px;
  list-style:none;
  transform: translateY(-40px);
  &-item {
    transition: all 800ms;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: grey;
  border-radius: 50%;
  box-shadow: $shadow;
  margin-right: 5px;
  &:nth-child(1){
    border: 6px solid white;
    height: 60px;
    width: 60px;
    transform: translateY(40px);
    &.active {
      background-color: aqua;
    }
  }
  &:nth-child(2){
    &.active {
      background-color: red;
    }
  }
  &:nth-child(3){
    &.active {
      background-color: yellow;
    }
  }
  &:nth-child(4){
    &.active {
      background-color: green;
    }
  }
  }
}
