* {
	box-sizing: border-box;
}
/*Pokedex*/
.Pokedex {
	box-sizing: border-box;
  text-align: center;
  max-width: 960px;
  height: 100vh;
  float: left;
  margin: 0 auto;
}
.Pokedex-left {
	background-color: plum;
    width: 50%;
    height: 100%;
    float: left;
}
.Pokedex-right {
	background-color: yellow;
    width: 50%;
    height: 100%;
    float: right;
}
.Pokemon-sprite {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	border: 1px solid white;
}
/*Search*/
.Search {
	width: 100%;
	height: 40px;
	max-height: 5%;
}
.Search-input {
	height: 100%;
	width: 80%;
	float: left;
}
.Search-submit {
	height: 100%;
	width: 20%;
}
/*List*/
.List {
	height: 95%;
	float: right;
	width: 100%;
	overflow: scroll;
	background-color: red;
	list-style: none;
	padding: 0;
	margin: 0;
}
.List-item {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 30px;
	border: 1px solid grey;
}
