* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*Pokedex*/
.Pokedex {
	box-sizing: border-box;
  text-align: center;
  max-width: 960px;
  height: 100vh;
  float: left;
  margin: 0 auto;
}
.Pokedex-left {
	background-color: red;
    width: 50%;
    height: 100%;
    float: left;
}
.Pokedex-left-container {
	margin: 20px;
	border: 5px solid grey;
	border-radius: 2%;
	background-color: white;
	height: 80%;
}
.Pokedex-left-top {
	margin: 20px;
	height: 10%;
}
.use-signal {
	height: 70px;
	width: 70px;
	border: 2px solid grey;
	border-radius: 50%;
	background-color: blue;
}
.Pokedex-right {
	background-color: red;
    width: 50%;
    height: 100%;
    float: right;
}
.Pokedex-right-container {
	margin: 20px;
	border: 5px solid grey;
	border-radius: 2%;
	background-color: white;
	height: 80%;
}
.Pokemon-sprite {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	border: 1px solid white;
}
.Pokemon {
	height: 100%;
	width: 100%;
}
.Pokemon-inner {
	text-align: left;
	height: 50%;
	width: 50%;
	border: 1px solid black;
	float:left;
}

/*Search*/
.Search {
	width: 100%;
	height: 40px;
	max-height: 5%;
}
.Search-input {
	height: 100%;
	width: 80%;
	float: left;
}
.Search-submit {
	height: 100%;
	width: 20%;
}
/*List*/
.List {
	height: 95%;
	float: right;
	width: 100%;
	overflow: scroll;
	background-color: red;
	list-style: none;
	padding: 0;
	margin: 0;
}
.List-item {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 30px;
	border: 1px solid grey;
}
